@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif !important;
  background-color: #1D1D2D;
}

.content {
  margin-left: 200px;
}


a {
  all: unset;
}